body {
  background-color: black !important;
  color: white !important
}

/* 상단 메뉴 */
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/* 배너 */
.banner {
  height: 600px;
  display: flex;
  align-items: center;
}

.banner::before {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}